                  ___
                 |   |
----. _           \ / _
|| ]|_#_      _   | |[_]
||_]|  |^-----#----.-\^
--- |Development | @  |
____|__|_|_|_|_|_|-.-/ .
 /-*-\--/-*-\-|==[_|_]-\\
 \___/  \___/    O-=-O |\\.

bin/
.minecraft/
run/
lib/
dev/
                  ___
                 |   |
----. _           \ / _
|| ]|_#_      _   | |[_]
||_]|  |^-----#----.-\^
--- |Eclipse | | | @  |
____|__|_|_|_|_|_|-.-/ .
 /-*-\--/-*-\-|==[_|_]-\\
 \___/  \___/    O-=-O |\\.

eclipse/
.settings/
.classpath
.project
                  ___
                 |   |
----. _           \ / _
|| ]|_#_      _   | |[_]
||_]|  |^-----#----.-\^
--- |IntelliJ IDEA @  |
____|__|_|_|_|_|_|-.-/ .
 /-*-\--/-*-\-|==[_|_]-\\
 \___/  \___/    O-=-O |\\.

*.iml
*.ipr
*.iws
out/
                  ___
                 |   |
----. _           \ / _
|| ]|_#_      _   | |[_]
||_]|  |^-----#----.-\^
--- |Gradle| | | | @  |
____|__|_|_|_|_|_|-.-/ .
 /-*-\--/-*-\-|==[_|_]-\\
 \___/  \___/    O-=-O |\\.

.gradle/
gradle*
